


#home {

    background-image: url("../Images/Img2.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    padding: 10px;
    margin-left: 10px;
    text-emphasis-color: #ffffff;
    background-attachment:local;
    background-size:cover; 
  }
  #home {
    text-align: center;
    text-emphasis: none;
    text-decoration:blue;
    color: blue;;
    padding-bottom: 400px;
    padding-top: 0px;
    text-align: justify;
  }
    
    li {
        border-bottom: 1px solid #555;
        display: inline;
     }
    p {
        font: border-inline: ;

    }

.nav-items {
    float: right;
    margin: 0;
    font-size: 18px;
}
#home .navbar{
   /* remove padding*/
    padding-top: 0;
    padding-bottom: 0;
}




#hotpizza {
    float: left;
    height: 80%;
    width: 40%;
}

#resposive-table {
    width:50%
    height:100px
    border: 1px solid black;  
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    text-align:left
  }

thead {color: green;}
tbody {color: blue;}
tfoot {color: red;}